---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Building from '../components/Building.astro';
import Work from '../components/Work.astro';
import Stack from '../components/Stack.astro';
import Contact from '../components/Contact.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <About />
    <Building />
    <Work />
    <Stack />
    <Contact />
  </main>
</Base>

<script>
  import '../scripts/motion.ts';
</script>
